<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="daemoniq" type="Daemoniq.Configuration.DaemoniqConfigurationSection, Daemoniq" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <components>
      <component id="Dummy"
                 service="Daemoniq.Framework.IServiceInstance, Daemoniq"
                 type="Daemoniq.Samples.DummyService, Daemoniq.Samples">
      </component>
    </components>
  </castle>
  <daemoniq>
    <services>
      <service
        id="Dummy"
        serviceName="Dummy1"
        displayName="Dummy Service 1"
        description="This is a dummy service"
        interactive="true"
        serviceStartMode="Manual">
        <servicesDependedOn>
          <service name="MSMQ" />
        </servicesDependedOn>
        <recoveryOptions firstFailureAction="RestartTheService"
                         secondFailureAction="TakeNoAction"
                         subsequentFailureAction="RestartTheComputer"
                         daysToResetFailAcount="2"
                         minutesToRestartService="5"
                         rebootMessage="This computer is going to reboot =D..."
                         commandToLaunchOnFailure="C:\Program Files\OmgWtfBbq.exe" />
      </service>
      <service
        id="Dummy"
        serviceName="Dummy2"
        displayName="Dummy Service 2"
        description="This is a dummy service"
        serviceStartMode="Manual">
      </service>
    </services>
  </daemoniq>
</configuration>