<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="daemoniq" type="Daemoniq.Configuration.DaemoniqConfigurationSection, Daemoniq" />
  </configSections>
  <daemoniq serviceStartMode="Manual">
    <servicesDependedOn>
      <service name="MSMQ" />
    </servicesDependedOn>
    <recoveryOptions firstFailureAction="RestartTheService"
                     secondFailureAction="TakeNoAction"
                     subsequentFailureAction="RestartTheComputer"
                     daysToResetFailAcount="2"
                     minutesToRestartService="5"
                     rebootMessage="This computer is going to reboot =D..."
                     commandToLaunchOnFailure="C:\Program Files\OmgWtfBbq.exe" />
  </daemoniq>
</configuration>